@import "../vendors/bulma/sass/utilities/initial-variables";
@import "../vendors/bulma/sass/utilities/functions";

$footer-background-color: black;
$navbar-background-color: black;
$navbar-height: 10rem;

@import "../vendors/bulma/bulma.sass";
