html {
    font-size: 10px;
    background-color: rgb(255, 255, 255);
}
  
body {
    background-color: white;
}

.padded{
    margin: 67px;
    background-color: rgb(255, 255, 255);
    padding: 0 20px 20px 20px;
}

h1 {
    margin: 0 0;
    text-shadow: 2px 2px rgb(0, 0, 0);
    font-size: 60px;
    color: rgb(255, 255, 255);
}
  
p {
    font-family: 'Courier New';
    text-align: justify;
    margin: auto;
    font-size: 20px;    
    line-height: 2;
    letter-spacing: 1px;
}

.ascii-art{
    font-family: 'Courier New';
    font-size: 11px;
    white-space: pre;
    line-height: 1;
}

.white {
    color: white;
}

.top {
    display: block;
    margin: 5px auto;
    max-width: 600px;
}

.alt {
    max-width: 768px;
    margin: 5px 0;
    border: 1px solid black;
}

.caption {
    font-family: 'Courier New';
    text-align: center;
    font-size: 12px;
}

hr {
    border-color: rgb(0, 0, 0);
    background-color: black;
    margin: 20px -20px 0 -20px;
}

a {
    padding-top: 90px;
    color: rgb(0, 195, 255)
}

a.header {
    color: rgb(255, 255, 255);
}
    
a:visited {
    color: rgb(0, 195, 255);
}

a:hover {
    color:rgb(255, 0, 0);
}  

a:active {
    color:rgb(255, 255, 255);
}  

navtext {
    line-height: 2;
    letter-spacing: 1px;
    font-size: 3rem; 
    color: rgb(0, 195, 255); 
    font-family: 'Courier New';
}

navtext:hover {
    color:rgb(255, 0, 0);
}  

